<!-- Section À Propos -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb mt-5">
        <li class="breadcrumb-item">
            <a href="#head">Profil</a>
        </li>
        <li class="breadcrumb-item" aria-current="page">A Propos</li>
    </ol>
</nav>
<div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">A Propos</h6>
        <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                <div class="dropdown-header">Dropdown Header:</div>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
    </div>
    <!-- Card Body -->
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <label class="text-primary">Prénom</label>
            </div>
            <div class="col-md-6">
                <p class="text-dark">
                    Kshiti <a href=""><i class="far fa-edit"></i></a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label class="text-primary">Nom</label>
            </div>
            <div class="col-md-6">
                <p class="text-dark">
                    Ghelani
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label class="text-primary">Age</label>
            </div>
            <div class="col-md-6">
                <p class="text-dark">
                    23
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label class="text-primary">Email</label>
            </div>
            <div class="col-md-6">
                <p class="text-dark">
                    kshitighelani@gmail.com
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label class="text-primary">Téléphone</label>
            </div>
            <div class="col-md-6">
                <p class="text-dark">
                    123 456 7890 <a href=""><i class="far fa-edit"></i></a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label class="text-primary">Expérience</label>
            </div>
            <div class="col-md-6">
                <p class="text-dark">
                    15 ans <a href=""><i class="far fa-edit"></i></a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label class="text-primary">Discipline</label>
            </div>
            <div class="col-md-6">
                <p class="text-dark">
                    Tennis / Yoga / etc ... <a href=""><i class="far fa-edit"></i></a>
                </p>
            </div>
        </div>
    </div>
</div>
