<!-- Section À Propos -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb mt-5">
        <li class="breadcrumb-item">
            <a href="#head">Profil</a>
        </li>
        <li class="breadcrumb-item" aria-current="page">A Propos</li>
    </ol>
</nav>
<div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between" id="edit_profile">
        <h6 class="m-0 font-weight-bold text-primary">A Propos</h6>
        <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                <div class="dropdown-header">Dropdown Header:</div>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
    </div>
    <!-- Card Body -->
    <div class="card-body mt-4">
        <div class="row">
            <div class="col-md-6">
                <label for="firstname" class="text-primary">Prénom</label>
            </div>
            <div class="col-md-6">
                <p>
                    <input type="text" class="form-control" id="firstname" name="firstname" value="John">
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label for="lastname" class="text-primary">Nom</label>
            </div>
            <div class="col-md-6">
                <p>
                    <input type="text" class="form-control" id="lastname" name="lastname" value="DOE">
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label for="age" class="text-primary">Age</label>
            </div>
            <div class="col-md-6">
                <p>
                    <input type="text" class="form-control" id="age" name="age" value="23">
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label for="email" class="text-primary">Email</label>
            </div>
            <div class="col-md-6">
                <p>
                    <input type="email" class="form-control" id="email" name="email" value="john_doe@gmail.com">
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label for="email" class="text-primary">Adresse</label>
            </div>
            <div class="col-md-6">
                <p>
                    <input type="text" class="form-control" id="email" name="email" value="1 impasse de l Eglise">
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label for="email" class="text-primary">Ville</label>
            </div>
            <div class="col-md-6">
                <p>
                    <input type="text" class="form-control" id="email" name="email" value="Annecy">
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label for="email" class="text-primary">Code postale</label>
            </div>
            <div class="col-md-6">
                <p>
                    <input type="text" class="form-control" id="email" name="email" value="74000">
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label for="phone" class="text-primary">Téléphone</label>
            </div>
            <div class="col-md-6">
                <p>
                    <input type="text" class="form-control" id="phone" name="phone" value="+33 1 23 45 67 78">
                </p>
            </div>
        </div>

        <div class="form-group mt-4">
            <button type="submit" class="btn btn-success mr-4">Enregistrer</button>
            <button type="reset" class="btn btn-danger ml-4">Annuler</button>
        </div>
    </div>
</div>
