<div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Bonjour John DOE</h6>
        <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                <div class="dropdown-header">Dropdown Header:</div>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
    </div>
    <!-- Card Body -->
    <div class="card-body">
        <div class="row">
            <div class="col">
                <h3 class="text-center">Bonjour John DOE</h3>
                <a href="#edit_profile" style="text-decoration: none;">
                    <i class="fas fa-long-arrow-alt-right"></i> Modifier le profil
                </a>
                <br>
                <a href="" style="text-decoration: none;">
                    <i class="fas fa-long-arrow-alt-right"></i> Voir le profil public
                </a>
            </div>

            <div class="col-md-8">
                <h3 class="text-center" id="lvl-experience">Niveau d'expérience</h3>
                <div style="display: flex; align-content: center; justify-content: space-around;">
                    <h6 id="debutant">Débutant</h6>
                    <h6 id="habitue">Habitué</h6>
                    <h6 id="confirme">Confirmé</h6>
                    <h6 id="expert">Expert</h6>
                    <h6 id="ambassadeur">Ambassabeur</h6>
                </div>
                <div class="progress">
                    <div class="progress-bar bg-primary" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                    <div class="progress-bar bg-success" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                    <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </div>
</div>
