<div class="container" id="head">
    <img src="https://cdn.pixabay.com/photo/2015/07/20/12/53/man-852762_960_720.jpg" style="border-radius: 100%;" class="rounded-circle" width="200" height="200"  xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140" alt="">
    <div class="mt-4">
        <span><strong>Compétences : </strong></span>
        <span class="badge badge-primary py-1 px-3">Gestion de conflits</span>
        <span class="badge badge-danger py-1 px-3">Gestion du stress</span>
        <span class="badge badge-secondary py-1 px-3">Microsoft Office</span>
        <span class="badge badge-success py-1 px-3 mb-4">Windows XP, Vista, 7</span>
    </div>
</div>