<!-- Social network -->
<div class="social-networks mt-4 mb-4">
    <a class="btn-floating btn-lg btn-fb" href="http://www.facebook.com/sharer.php?u=https://www.raphaelhomat.com/&t=A%20Propos" target="_blank" style="color: #4267B2;">
        <i class="fab fa-facebook-f"></i>
    </a>
    
    <a class="btn-floating btn-lg btn-tw" href="http://twitter.com/share?text=A%20Propos&url=https%3A%2F%2Fwww.raphaelhomat.com%2F" target="_blank" style="color: #00acee;">
        <i class="fab fa-twitter"></i>
    </a>

    <a class="btn-floating btn-lg btn-li" href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.raphaelhomat.com/&title=A%20Propos" target="_blank" style="color: #0e76a8;">
        <i class="fab fa-linkedin-in"></i>
    </a>
</div>